<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <div>
    <h1>HomeController:index</h1>
    <hr />

    <div>
      <h2>公開されたURL</h2>
      <h3>ユーザアカウント管理</h3>
      <ul>
        <li><a th:href="@{/user-account/new}">Sing Up</a></li>
        <li><a th:href="@{/user-account/login/input}">Login</a></li>
      </ul>
    </div>

    <hr />

    <div>
      <h2>認証保護されたURL</h2>
      <h3>ユーザアカウント管理</h3>
      <ul>
        <li><a th:href="@{/desk/index}">Myデスク</a></li>
      </ul>
    </div>

  </div>
</body>
</html>