<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <div>
    <h1>HomeController:index</h1>
    <hr />

    <div>
      <h2>公開されたURL</h2>
      <h3>openな機能(仮)</h3>
      <ul>
        <li><a th:href="@{${openIndexPath}}">インデックスページ</a></li>
      </ul>
      <h3>システム管理</h3>
      <ul>
        <li><a th:href="@{${adminLoginPath}}">管理者Login</a></li>
      </ul>
      <h3>ユーザアカウント管理</h3>
      <ul>
        <li><a th:href="@{${userCreatePath}}">Sing Up</a></li>
        <li><a th:href="@{${userLoginPath}}">Login</a></li>
      </ul>
      <h3>伴走用</h3>
      <ul>
        <li><a th:href="@{/open/page/}">ページング体験</a></li>
      </ul>
    </div>

    <hr />

    <div>
      <h2>認証保護されたURL</h2>
      <h3>システム管理</h3>
      <ul>
        <li><a th:href="@{${adminConsolePath}}">管理コンソール</a></li>
      </ul>
      <h3>ユーザアカウント管理</h3>
      <ul>
        <li><a th:href="@{${userMyDeskPath}}">Myデスク</a></li>
      </ul>
    </div>

  </div>
</body>
</html>