<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ja">
<style>
  .pagination {
    display: flex;
    flex-wrap: wrap;
  }

  .pagination a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
  }

  .pagination a.active {
    background-color: gray;
    color: white;
    border-radius: 2px;
  }
</style>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <!--/*@thymesVar id="page_tilte" type="java.lang.String"*/-->
  <title th:text="${page_title}"></title>
</head>
<body>
<div class="container">
  <nav class="navbar navbar-inverse">
    <!--/*@thymesVar id="links" type="java.util.HashMap"*/-->
    <ul class="navbar-header">
      <li class="navbar-brand" th:each="entry: ${links}">
        <a th:href="@{${entry.key}}" th:text="${entry.value}"></a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <h1>商品一覧</h1>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th th:text="#{msg.id}" />
        <th th:text="#{msg.name}" />
        <th th:text="#{msg.price}" />
        <th th:text="#{msg.vendor}" />
        <th >操作</th>
      </tr>
      <tr th:each="item, iStat : ${itemsPage.content}"
          th:style="${iStat.odd}? 'font-weight: bold;'"
          th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${item.id}" />
        <td><a th:text="${item.name}" th:href="@{|./${item.id}|}" /></td>
        <td><a th:text="${item.price}" /></td>
        <td><a th:text="${item.vendor}" /></td>
        <td>
          <div class="row">
            <a th:href="@{|./${item.id}/edit|}" th:text="編集" class="btn btn-outline-secondary m-1"></a>
            <form th:method="delete" th:action="@{|./${item.id}/delete|}" />
              <button type="submit" class="btn btn-outline-secondary m-1" th:text="削除"/>
            </form>
          </div>
        </td>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

    <div class="pagination">
      <div th:if="${itemsPage.totalPages > 0}"
        th:each="pageNumber : ${pageNumbers}">
        <a
          th:href="@{./(size=${itemsPage.size}, page=${pageNumber})}"
          th:text="${pageNumber}"
          th:class="${pageNumber==itemsPage.number + 1} ? active"></a>
      </div>
    </div>

    <div>
      <p>
        <a th:href="@{/}" th:text="#{msg.Home}"></a>
      </p>
    </div>
  </div>
  <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>

</div>
</body>
</html>