<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ja">
<style>
  .pagination {
    display: flex;
    flex-wrap: wrap;
  }

  .pagination a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
  }

  .pagination a.active {
    background-color: gray;
    color: white;
    border-radius: 2px;
  }
</style>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <title>商品一覧</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/open/items}">商品管理デモ</a> <a
            class="navbar-brand" th:href="@{/open/items/new}">商品登録</a>
    </div>
  </div>
</nav>
<div class="container">
  <h1>Item List</h1>
</div>
</body>
</html>