<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>システム管理コンソール</title>
</head>
<body>
  <div>
    <h1>SystemConsoleController:index</h1>
    <hr />

    <div>
      <h2>機能</h2>
      <ul>
        <li>
          <form th:action="@{${logoutUrl}}" th:method="post">
            <button type="submit">ログアウト</button>
          </form>
        </li>
      </ul>
      <h2>for Debug</h2>
      <ul>
        <li><a th:href="@{/h2-console}">H2 Database</a></li>
      </ul>

    </div>


  </div>
</body>
</html>