<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <div>
    <h1>HomeController:index</h1>
    <hr />
    <div>
      <h2>Internal Links</h2>
      <hr />
      <h3>UseCase</h3>
      <ul>
        <li><a href="./user-account/new">Sing Up</a></li>
        <li><a href="./user-account/login">Login</a></li>
      </ul>
      <h3>for Debug</h3>
      <ul>
        <li><a href="./h2-console">H2 Database</a></li>
      </ul>
    </div>

  </div>
</body>
</html>